html, body {
	width: 99.7%;
	height: 98%;
	overflow-x: none !important;
}

.height {
	min-height: 100%;
	height: 100%;
}

.no-padding {
	padding: 0 !important;
}

.no-border-radius {
	border-radius: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.panel {
	margin-bottom: 2px !important;
	border-bottom-left-radius: 4px !important;
	border-top-left-radius: 4px !important;
}

.panel-heading {
	padding-bottom: 0 !important;
}

.container-fluid {
	width: 100%;
	height:98%;
	overflow: inherit;
	margin: 5px;
	padding-bottom: 10px;
}

#user-list {
	min-height: 95%;
	max-height: 95%;
	padding: 7px;
	overflow-y: auto;
}

.btn-width {
	font-family: Verdana, Helvetica sans-serif;
	width: 40px;
}

.fixed-panel {
	min-height: 95%;
	max-height: 95%;
	padding: 7px;
	overflow-y: auto;
	position: relative;
}

span.typing {
	vertical-align: bottom;
	display: none;
	color: #ff5555;
	font-weight: bold;
	font-style: italic;
}

.bolded {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underscored {
	text-decoration: underline;
}
